.button {
  border-radius: 6px;
  padding: 8px 30px;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.25s;
  border: none;
}

.accent:hover {
  background-color: #222096;
}

.accent {
  background-color: #312EB5;
}
