.journal-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input {
  border: 1px solid transparent;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 50px;
}

.form-label {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 150px;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #323232;
  background: none;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.invalid {
  border: 1px solid red;
  background-color: rgb(139, 36, 36);
}

.delete {
  padding: 0;
  height: 30px;
  width: 30px;
  border: none;
  background: none;
  cursor: pointer;
}

.delete:hover {
  background: rgb(255, 255, 255, 0.05);
  border-radius: 50%;
}